@model ArtSystemApp.Models.User


<div class = "content">

    <div class = "cover">
        <div class = "user-info">
            @if(Model.Image != null)
            {
                <img src="@Url.Action("GetImage", "Work", new {id = @Model.Image.Id})"/>                
            }
            <div class = "text-info">
                <h2>@Model.Login</h2>
                <p>@Model.Description</p>
                @Model.Email
                <form asp-action = "Edit" asp-controller = "User" method = "get">
                    <button class = "btn btn-outline-dark add-subscription-button">Изменить аккаунт</button>
                </form>
            </div>

            @if(Model.Confirmation.Name == "free")            
            {
                <form asp-action = "SendRequest" asp-controller = "Home">
                    <button class = "btn btn-outline-dark add-subscription-button">Запрос на подтверждение аккаунта</button>
                </form>
            }
            else if(Model.Confirmation.Name == "await")            
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Ожидается подтверждение</button>
            }
            else if(Model.Confirmation.Name == "paid")            
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Аккаунт подтвержден</button>
            }

            @if (Model.Role.Name == "admin")
            {
                <form asp-action = "UserTable" asp-controller = "User" method = "get">
                    <button class = "btn btn-outline-dark add-subscription-button">Просмотреть пользователей</button>
                </form>
            }

        </div>        
    </div>


    <div class = "main-info">
        <div class = "full-description">

        </div>

        <div class = "subscriptions">
            <h2>Варианты подписки</h2>
            <div class = "subscriptions-block">
            @foreach(var accs in Model.Accesses)  
            {
                <div class = "subscribe-info">
                    <div class = "name-buttons">
                        <h4>@accs.Name</h4>
                        <div class = "small-buttons-block">
                            <form asp-action = "Action" asp-controller = "Subscription" method = "get">
                                <input name = "acc_id" value = @accs.Id type = "hidden"/>                                        
                                <button class = "btn btn-outline-dark" name = "action_button" value = "edit">E</button>
                                <button class = "btn btn-outline-dark" name = "action_button" value = "delete">D</button>
                            </form>
                        </div>
                    </div>
                    <img />
                    <p>@accs.Description</p>
                    <div class = "subscribe-container">
                        @accs.Price $                        
                    </div>
                </div>
            }
            @if(Model.Confirmation.Name == "paid")
            {
                <form asp-action = "Add" asp-controller = "Subscription" method = "get">
                    <button class = "btn btn-outline-dark add-subscription-button">Добавить</button>
                </form>
            }
            else
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Добавить</button>
            }
            </div>
        </div>

        <div class = "publications"> 
            <div class = "publications-add-work">
                <h2>Ваши последние публикации</h2>
                <form  asp-action = "Add" asp-controller = "Work" method = "get"> 
                    <button class = "btn btn-outline-dark">Добавить публикацию</button>
                </form>
            </div>
            <div class = "publications-block">
                @if(Model.Works.Count == 0)
                {
                    @:Вы не добавляли работы                    
                }
                else
                {
                    @foreach(var work in Model.Works)
                    {
                        <div class = "work-content">
                            <div class = "img-content-block">
                                <a href = "~/Work/Index/@work.Id">
                                    <img src="@Url.Action("GetImage", "Work", new {id = @work.Image.Id})"/>
                                </a>
                                <div class = "small-buttons-block">
                                    <form asp-action = "Action" asp-controller = "Work" method = "get">
                                        <input name = "img_id" value = @work.Id type = "hidden"/>                                        
                                        <button class = "btn btn-outline-dark" name = "action_button" value = "edit">Изменить</button>
                                        <button class = "btn btn-outline-dark" name = "action_button" value = "delete">Удалить</button>
                                    </form>
                                </div>
                            </div>
                            <h3>@work.Name</h3>
                            @if (work.Theme != null)
                            {
                                <h4>@work.Theme.Name</h4>
                            }
                            <p>@work.Description</p>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>

@{
    /*TODO:
     * Кнопка "Добавить работу"
     * Кнопка "Добавить подписку"
     * Начать прописывать функции для кнопок
     */       
}
