@model ArtSystemApp.Models.User


<div class = "content">

    <div class = "cover">
        <div class = "user-info">
            <img />
            <div class = "text-info">
                <h2>@Model.Login</h2>
                <p>@Model.Description</p>
                
            </div>

            @if(Model.Confirmation.Name == "free")            
            {
                <form asp-action = "SendRequest" asp-controller = "Home">
                    <button class = "btn btn-outline-dark add-subscription-button">Запрос на подтверждение аккаунта</button>
                </form>
            }
            else if(Model.Confirmation.Name == "await")            
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Ожидается подтверждение</button>
            }
            else if(Model.Confirmation.Name == "paid")            
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Аккаунт подтвержден</button>
            }

            @if (Model.Role.Name == "admin")
            {
                <form asp-action = "UserTable" asp-controller = "User" method = "get">
                    <button class = "btn btn-outline-dark add-subscription-button">Просмотреть пользователей</button>
                </form>
            }

        </div>        
    </div>


    <div class = "main-info">
        <div class = "full-description">

        </div>

        <div class = "subscriptions">
            <h2>Варианты подписки</h2>
            <div class = "subscriptions-block">
            @foreach(var accs in Model.Accesses)  
            {
                <div class = "subscribe-info">
                    <div class = "name-buttons">
                        <h4>@accs.Name</h4>
                        <div class = "small-buttons-block">
                            <button class = "btn btn-outline-dark">E</button>
                            <button class = "btn btn-outline-dark">D</button>
                        </div>
                    </div>
                    <img />
                    <p>@accs.Description</p>
                    <div class = "subscribe-container">
                        @accs.Price $                        
                    </div>
                </div>
            }
            @if(Model.Confirmation.Name == "paid")
            {
                <button class = "btn btn-outline-dark add-subscription-button">Добавить</button>
            }
            else
            {
                <button class = "btn btn-outline-dark add-subscription-button" disabled="disabled">Добавить</button>
            }
            </div>
        </div>

        <div class = "publications"> 
            <div class = "publications-add-work">
                <h2>Ваши последние публикации</h2>
                <button class = "btn btn-outline-dark" asp-action = "Add" asp-controller = "Work">Добавить публикацию</button>
            </div>
            <div class = "publications-block">
                @if(Model.Works.Count == 0)
                {
                    @:Вы не добавляли работы                    
                }
                else
                {
                    @for(int i = 0; i<Model.Works.Count; i++)
                    {
                        <div class = "publication">
                            <img />
                            <div class = "description-block">
                                <h6>Тема</h6>
                                <p>Описание</p>
                            </div>
                        </div> 
                    }
                }
            </div>
        </div>

    </div>
</div>

@{
    /*TODO:
     * Кнопка "Добавить работу"
     * Кнопка "Добавить подписку"
     * Начать прописывать функции для кнопок
     */       
}
