
@model ArtSystemApp.Models.User

<div class = "content">

    <div class = "cover">
        <div class = "user-info">
            <img />
            <div class = "text-info">
                <h2>@Model.Login</h2>
                <p>@Model.Description</p>
            </div>
        </div>
        <div class = "sub-action-buttons">
            <button class = "btn btn-outline-dark">Следить</button>
            <button class = "btn btn-outline-dark">Подписаться</button>
        </div>
    </div>


    <div class = "main-info">
        <div class = "full-description">

        </div>

        <div class = "subscriptions">
            <h2>Варианты подписки</h2>
            <div class = "subscriptions-block">            
             @foreach(var accs in Model.Accesses)  
            {
                <div class = "subscribe-info">
                    <div class = "name-buttons">
                        <h4>@accs.Name</h4>                        
                    </div>
                    <img />
                    <p>@accs.Description</p>
                    <div class = "subscribe-container">
                        @accs.Price $                        
                    </div>
                </div>
            }
            </div>
        </div>

        <div class = "publications"> 
            <h2>Последние публикации</h2>           
            <div class = "publications-block">
                @if(Model.Works.Count == 0)
                {
                    @:Пока пользователь не выкладывал работы.                    
                }
                else
                {
                    @for(int i = 0; i<Model.Works.Count; i++)
                    {
                        <div class = "publication">
                            <img />
                            <div class = "description-block">
                                <h6>Тема</h6>
                                <p>Описание</p>
                            </div>
                        </div> 
                    }
                }
            </div>
        </div>

    </div>
</div>

@{
    /*TODO:
     * Поставить картинку по умолчанию
     * Реализовать загрузку изображений 
     * Начать прописывать функции для кнопок
     * Подставить моделькуда это нужно
     */       
}
