
@model ArtSystemApp.Models.User

<div class = "content">

    <div class = "cover">
        <div class = "user-info">
            @if(Model.Image != null)
            {
                <img src="@Url.Action("GetImage", "Work", new {id = @Model.Image.Id})"/>                
            }
            <div class = "text-info">
                <h2>@Model.Login</h2>
                <p>@Model.Description</p>
            </div>
        </div>
        <div class = "sub-action-buttons">
            <button class = "btn btn-outline-dark">Следить</button>
            <button class = "btn btn-outline-dark">Подписаться</button>
        </div>
    </div>


    <div class = "main-info">
        <div class = "full-description">

        </div>

        <div class = "subscriptions">
            <h2>Варианты подписки</h2>
            <div class = "subscriptions-block">            
             @foreach(var accs in Model.Accesses)  
            {
                <div class = "subscribe-info">
                    <div class = "name-buttons">
                        <h4>@accs.Name</h4>                        
                    </div>
                    <img />
                    <p>@accs.Description</p>
                    <div class = "subscribe-container">
                        @accs.Price $                        
                    </div>
                </div>
            }
            </div>
        </div>

        <div class = "publications"> 
            <h2>Последние публикации</h2>           
            <div class = "publications-block">
                @if(Model.Works.Count == 0)
                {
                    @:Пока пользователь не выкладывал работы.                    
                }
                else
                {
                   @foreach(var work in Model.Works)
                    {
                        <div class = "work-content">
                            <div  class = "img-content-block">
                                <a href = "~/Work/Index/@work.Id">
                                    <img src="@Url.Action("GetImage", "Work", new {id = @work.Image.Id})"/>
                                </a>       
                            </div>
                        <h3>@work.Name</h3>
                            @if (work.Theme != null)
                            {
                                <h4>@work.Theme.Name</h4>
                            }
                            <p>@work.Description</p>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>

@{
    /*TODO:
     * Поставить картинку по умолчанию
     * Реализовать загрузку изображений 
     * Начать прописывать функции для кнопок
     * Подставить моделькуда это нужно
     */       
}
