@model ArtSystemApp.Models.Work
    
    <div class = "work-content">
            <div class = "img-display">
                <img src="@Url.Action("GetImage", "Work", new {id = @Model.Image.Id})"/> 
                <div class = "small-buttons-block">                    
                </div>
            </div>
            <h3>@Model.Name</h3>
            @if (Model.Theme != null)
            {
                <h3>@Model.Theme.Name</h3>        
            }
            <p>@Model.Description</p>
        </div>
